In [1]:
import time
import seaborn as sns

### Syntax  - when do we use these?
 - `()` - when calling a function or method; to create a tuple
 - `{}` - when creating a dictionary or set 
 - `[]` - when slicing an iterable; to create a list

### call the `ctime()` method from the time module

In [2]:
time.ctime()

'Wed Aug 26 10:29:03 2020'

### [Python Collections](https://www.w3schools.com/python/python_lists.asp)

#### a _tuple_ is an ordered, immutable list (with or without parentheses)

In [3]:
tuple1 = (90, 180, 270, 360)
tuple2 = 'Ashley', 'Kim'
tuple4 = tuple()

In [5]:
print('tuple1 is a ', type(tuple1))
print('tuple2 is a ', type(tuple2))

tuple1 is a  <class 'tuple'>
tuple2 is a  <class 'tuple'>

In [4]:
tuple2

('Ashley', 'Kim')

#### You can concatenate tuples with `+` to combine them, creating a new tuple

In [58]:
tuple3 = tuple1 + tuple2

In [59]:
tuple3

(90, 180, 270, 360, 'Ashley', 'Kim')

In [8]:
tuple3[1]

180

#### Every python module, function, and type has a description (docstring) as a built-in attribute `_doc_`

In [9]:
print(tuple.__doc__)

Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

### your turn
- type `tuple3.` and press `tab` to see the tuple methods
- you can also click inside the () and press Shift+Tab
- use each method in the cell below 
- try typing `tuple3.index?` for help understanding how to use the `index()` method

In [14]:
tuple3.count()

1

#### immutability

In [15]:
tuple3[0] = 360

TypeError: 'tuple' object does not support item assignment

#### a _list_ is ordered and mutable

In [16]:
list1 = ['red', 'yellow', 'blue', 'green', 'red', 'green']
list2 = ['Cassandra', 'Jinhee', 'Alex', 'Ben', 'Aung Soe', 'Hiral']

In [17]:
print('list1 is a ', type(list1))
print('list2 is a ', type(list2))

list1 is a  <class 'list'>
list2 is a  <class 'list'>

#### lists can also be concatenated with `+`

In [18]:
list3 = list1 + list2

In [19]:
list3

['red',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Cassandra',
 'Jinhee',
 'Alex',
 'Ben',
 'Aung Soe',
 'Hiral']

In [20]:
list3[0]

'red'

#### mutability

In [21]:
list3[0] = 'purple'

In [22]:
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Cassandra',
 'Jinhee',
 'Alex',
 'Ben',
 'Aung Soe',
 'Hiral']

type list3. and press tab to see list methods

In [ ]:
list3.

#### The `pop( )` method will remove the last item from a list or you can specify the position of the item to remove: `pop(2)`

In [23]:
list3.pop()
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Cassandra',
 'Jinhee',
 'Alex',
 'Ben',
 'Aung Soe']

#### The `remove()` method will remove the specified element from a list

In [24]:
list3.remove('Alex')
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Cassandra',
 'Jinhee',
 'Ben',
 'Aung Soe']

### your turn
- remove the second `green` from list3

In [25]:
list3.pop(5)
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'Cassandra',
 'Jinhee',
 'Ben',
 'Aung Soe']

In [26]:
list3.append('Alex')
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'Cassandra',
 'Jinhee',
 'Ben',
 'Aung Soe',
 'Alex']

#### You can store the item you removed in a variable

In [27]:
last_one = list3.pop()
last_one

'Alex'

In [28]:
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'Cassandra',
 'Jinhee',
 'Ben',
 'Aung Soe']

#### lists are iterable 
- use a for-loop to iterate through list3, add an `s` at the end and create a new list

In [29]:
plurals = []
for item in list3:
    plurals.append(item + 's')
    
plurals

['purples',
 'yellows',
 'blues',
 'greens',
 'reds',
 'Cassandras',
 'Jinhees',
 'Bens',
 'Aung Soes']

#### what do you think the next cell does?

In [30]:
favorite_colors = {}

In [31]:
type(favorite_colors)

dict

#### you can create a dictionary from two lists by zipping them together and wrapping them with a `dict( )` constructor
- the first list that you pass to the constructor becomes the dictionary keys
- the second list you pass to the constructor becomes the dictionary values matched to the keys in the same order

In [32]:
favorite_colors = dict(zip(list2, list1))
favorite_colors

{'Cassandra': 'red',
 'Jinhee': 'yellow',
 'Alex': 'blue',
 'Ben': 'green',
 'Aung Soe': 'red',
 'Hiral': 'green'}

#### you can use a `key` to look up a `value`

In [33]:
favorite_colors['Cassandra']

'red'

### your turn
- use a key with the `favorite_colors` dict to find Aung Soe's favorite color

In [34]:
favorite_colors['Aung Soe']

'red'

## Sometimes we want to turn a pandas series into a list

### Let's get a _list_ of unique iris species
- first we'll load the dataset from seaborn and look at the first few rows

In [35]:
# load the iris dataset from seaborn

iris_df = sns.load_dataset('iris')
print(iris_df.shape)
iris_df.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### your turn
- what datatype is `iris_df.species`?

In [37]:
type(iris_df.species)

pandas.core.series.Series

#### you can call the `.head( )` method on a series just like you can on a data frame

In [38]:
iris_df.species.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

#### you can even assign the series to a new variable

In [39]:
species = iris_df.species
type(species)

pandas.core.series.Series

#### to convert it to a list, _wrap it_ with the `list( )` constructor

In [40]:
species_list = list(species)

print(type(species_list))
print(species_list)

<class 'list'>
['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica']

#### passing a list to a set constructor is a handy way to get unique list values

In [41]:
unique_species = set(species_list)
print(type(unique_species))
unique_species

<class 'set'>

{'setosa', 'versicolor', 'virginica'}

#### notice that a set is enclosed with curly braces (`{ }`)

### your turn!
- print tuple3
- find the unique values in tuple 3

In [66]:
tuple3=tuple3 + (90, 270)
tuple3

(90,
 180,
 270,
 360,
 'Ashley',
 'Kim',
 90,
 270,
 90,
 270,
 90,
 270,
 90,
 270,
 90,
 270)

In [67]:
print(set(tuple3))

{'Kim', 360, 270, 'Ashley', 180, 90}