In [1]:
import pandas as pd

In [2]:
#Create a DataFrame, `ha_costs_df`, from the `mmd_heart_attack_data.csv` file.
ha_costs_df = pd.read_csv("../data/mmd_heart_attack_data.csv")

In [3]:
#Examine the first 5 rows
ha_costs_df.head(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067

In [4]:
#Examine the last 5 rows
ha_costs_df.tail(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2651,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72097,Mayaguez Municipio,PUERTO RICO,Urban,All,undefined,28128
2652,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72113,Ponce Municipio,PUERTO RICO,Urban,All,undefined,26403
2653,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72125,San German Municipio,PUERTO RICO,Urban,All,undefined,26398
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

In [5]:
#Check the data types of each column by using `.info`
ha_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2656 entries, 0 to 2655
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 2656 non-null   int64
 1   geography            2656 non-null   object
 2   measure              2656 non-null   object
 3   adjustment           2656 non-null   object
 4   analysis             2656 non-null   object
 5   domain               2656 non-null   object
 6   condition            2656 non-null   object
 7   primary_sex          2656 non-null   object
 8   primary_age          2656 non-null   object
 9   primary_dual         2656 non-null   object
 10  fips                 2656 non-null   int64
 11  county               2656 non-null   object
 12  state                2656 non-null   object
 13  urban                2656 non-null   object
 14  primary_race         2656 non-null   object
 15  primary_denominator  2656 non-null   object
 16  analysis_value       2656 non-null   int64
dtypes: int64(3), object(14)
memory usage: 352.9+ KB

In [6]:
#Keep only the rows where facilities are in TN.
ha_costs_df_TN = ha_costs_df.loc[ha_costs_df['state']=='TENNESSEE']

In [7]:
#Print the dimensions of the resulting dataframe.
ha_costs_df_TN.shape

(91, 17)

In [8]:
#How many TN counties are represented in the heart attack costs data?
ha_costs_df_TN['county'].nunique()

91

In [9]:
#How many counties are classified as urban? How many as rural?
ha_costs_df_TN['urban'].value_counts()

Rural    53
Urban    38
Name: urban, dtype: int64

In [10]:
#Or
ha_costs_df_TN.loc[ha_costs_df_TN['urban']=='Urban'].shape
ha_costs_df_TN.loc[ha_costs_df_TN['urban']=='Rural'].shape

(53, 17)

In [11]:
# Create a DataFrame, `cancer_costs_df`, from the `mmd_cancer_data.csv` file.
cancer_costs_df=pd.read_csv('../data/mmd_cancer_data.csv')

In [12]:
#Look at the head and tail of the DataFrame.
cancer_costs_df.head()
cancer_costs_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
3160,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72145,Vega Baja Municipio,PUERTO RICO,Urban,All,undefined,7364
3161,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72147,Vieques Municipio,PUERTO RICO,Rural,All,undefined,9987
3162,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72149,Villalba Municipio,PUERTO RICO,Urban,All,undefined,24127
3163,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72151,Yabucoa Municipio,PUERTO RICO,Urban,All,undefined,8008
3164,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72153,Yauco Municipio,PUERTO RICO,Urban,All,undefined,11171

In [13]:
# Keep only the rows where facilities are in TN.
cancer_costs_df_TN = cancer_costs_df.loc[cancer_costs_df['state']=='TENNESSEE']
#%who to check what variable we already have

In [14]:
# Print the dimensions of the data.
cancer_costs_df_TN.shape

(95, 17)

In [15]:
#How many TN counties are represented in the cancer costs data?
cancer_costs_df_TN['county'].nunique()

95

In [27]:
#You should have found that the datasets have a different number of counties. Bonus: Can you figure out which counties are missing from one of the datasets?
unique_county_ha = ha_costs_df_TN['county'].unique()
cancer_costs_df_TN.loc[~cancer_costs_df_TN['county'].isin(unique_county_ha)]['county'].unique()

array(['Hancock County', 'Moore County', 'Pickett County',
       'Van Buren County'], dtype=object)

In [17]:
# Create a DataFrame, `income_df`, from the `irs_county_2016.csv` file.
income_df = pd.read_csv('../data/irs_county_2016.csv')

In [18]:
#Keep only the data that pertains to Tennessee.
income_df.head()
income_df_TN = income_df.loc[income_df['STATE'] == 'TN']

In [19]:
#Look at the head and the tail.
income_df_TN.head()
income_df_TN.tail()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
20515,47,TN,189,Wilson County,4,14400,7130,4050,2610,6520,...,12340,34654,0,0,0,0,2090,4150,12140,31712
20516,47,TN,189,Wilson County,5,9330,2890,5160,960,4600,...,9010,50591,0,0,0,0,2080,5356,7100,19970
20517,47,TN,189,Wilson County,6,7160,1060,5630,380,3560,...,7110,61964,0,0,0,0,1710,5743,5290,17041
20518,47,TN,189,Wilson County,7,10350,780,9260,240,5330,...,10330,190229,60,13,0,0,3810,19921,6270,24591
20519,47,TN,189,Wilson County,8,2370,180,2130,50,1700,...,2370,230759,1160,1817,1080,3775,1260,39698,880,9411

In [32]:
#Print the shape.
income_df_TN.shape
#to look for all of the name of columns, call out values
income_df_TN.columns.values

array(['STATEFIPS', 'STATE', 'COUNTYFIPS', 'COUNTYNAME', 'agi_stub', 'N1',
       'mars1', 'MARS2', 'MARS4', 'PREP', 'N2', 'NUMDEP', 'TOTAL_VITA',
       'VITA', 'TCE', 'VITA_EIC', 'RAL', 'RAC', 'ELDERLY', 'A00100',
       'N02650', 'A02650', 'N00200', 'A00200', 'N00300', 'A00300',
       'N00600', 'A00600', 'N00650', 'A00650', 'N00700', 'A00700',
       'N00900', 'A00900', 'N01000', 'A01000', 'N01400', 'A01400',
       'N01700', 'A01700', 'SCHF', 'N02300', 'A02300', 'N02500', 'A02500',
       'N26270', 'A26270', 'N02900', 'A02900', 'N03220', 'A03220',
       'N03300', 'A03300', 'N03270', 'A03270', 'N03150', 'A03150',
       'N03210', 'A03210', 'N03230', 'A03230', 'N03240', 'A03240',
       'N04470', 'A04470', 'A00101', 'N17000', 'A17000', 'N18425',
       'A18425', 'N18450', 'A18450', 'N18500', 'A18500', 'N18800',
       'A18800', 'N18300', 'A18300', 'N19300', 'A19300', 'N19500',
       'A19500', 'N19530', 'A19530', 'N19550', 'A19550', 'N19570',
       'A19570', 'N19700', 'A19700', 'N20800', 'A20800', 'N21020',
       'A21020', 'N04800', 'A04800', 'N05800', 'A05800', 'N09600',
       'A09600', 'N05780', 'A05780', 'N07100', 'A07100', 'N07300',
       'A07300', 'N07180', 'A07180', 'N07230', 'A07230', 'N07240',
       'A07240', 'N07220', 'A07220', 'N07260', 'A07260', 'N09400',
       'A09400', 'N85770', 'A85770', 'N85775', 'A85775', 'N09750',
       'A09750', 'N10600', 'A10600', 'N59660', 'A59660', 'N59720',
       'A59720', 'N11070', 'A11070', 'N10960', 'A10960', 'N11560',
       'A11560', 'N06500', 'A06500', 'N10300', 'A10300', 'N85530',
       'A85530', 'N85300', 'A85300', 'N11901', 'A11901', 'N11902',
       'A11902'], dtype=object)

In [21]:
#Keep only the following columns:  `['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']`
income_df_TN_keep = income_df_TN.loc[:,['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']]

In [22]:
#Or
income_df_TN_keep = income_df_TN[['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']]

In [23]:
#rename those columns: `['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']`
income_df_TN_keep.columns = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

In [24]:
income_df_TN_keep.head()

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894

In [25]:
#confusions:
#1: It is possible to slice a range of rows from df but not possible to slice a single row 
#2: It is possible to slice a single column from df but not possible to slice a range of columns
#3: Row index changes in subset df but the original index number is still shown in the first column. Are those original index numbers useless in the subset df (eg. can they be used as the non-index names of the rows)?
#4: Is there any way to subset columns using index but not label? (eg if I want to look at the first 5 columns of the df)

In [ ]:
#to save a dataframe 
income_df_TN.to_csv('')